.main-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 3rem;
  align-items: start;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 9rem;
}
.img {
  width: 100%;
}
.grid-1,
.grid-2,
.grid-3 {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 3rem;
  margin-bottom: 9rem;
}
.img-helper {
  position: relative;
  cursor: pointer;
}
.del-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
.del-icon path {
  color: red;
}
/* !768 px  */
@media (width<48em) {
  .main-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    max-width: 50rem;
    margin-top: 5rem;
  }
  .grid-1,
  .grid-2,
  .grid-3 {
    margin-bottom: 3rem;
  }
}
