@import "~react-image-gallery/styles/css/image-gallery.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
html {
  /* background-color: #fff; */
  font-size: 62.5%;
}
body {
  background-color: #151515;
}

/* !688 px   */
@media (width<43em) {
  html {
    font-size: 56.25%;
  }
}
/* !480 px  */
@media (width<30em) {
  html {
    font-size: 50%;
  }
}
